CRM_ESK/CRM_ESK/Service References/CalendarZimbraService/CalendarZimbraService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spbadm4:8092/CalendarZimbraService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalZimbraService" />
  <xs:element name="CreateCalendarEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CalZimbraService" minOccurs="0" name="MyEvent" nillable="true" type="q1:CreateCalendarEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCalendarEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCalendarEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCalendarEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CalZimbraService" minOccurs="0" name="MyEvent" nillable="true" type="q2:DeleteCalendarEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCalendarEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCalendarEventResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>