CRM_ESK/CRM_ESK/Service References/spbadm4_EWS/EskEWSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EskEWSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EskEWSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateCalendarEventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalendarEventIDOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Finish" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timezone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateCalendarEventType" nillable="true" type="tns:CreateCalendarEventType" />
  <xs:complexType name="DeleteCalendarEventType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalendarEventIDOld" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteCalendarEventType" nillable="true" type="tns:DeleteCalendarEventType" />
</xs:schema>