CRM_ESK/CRM_ESK/Service References/spbadm4/Esk365Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Esk365Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://spbadm4:8085/ESK365Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://spbadm4:8085/ESK365Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://spbadm4:8085/ESK365Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Esk365Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEsk365Service_CreateCalendarEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCalendarEvent" />
  </wsdl:message>
  <wsdl:message name="IEsk365Service_CreateCalendarEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCalendarEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEsk365Service_DeleteCalendarEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCalendarEvent" />
  </wsdl:message>
  <wsdl:message name="IEsk365Service_DeleteCalendarEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCalendarEventResponse" />
  </wsdl:message>
  <wsdl:portType name="IEsk365Service">
    <wsdl:operation name="CreateCalendarEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEsk365Service/CreateCalendarEvent" message="tns:IEsk365Service_CreateCalendarEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEsk365Service/CreateCalendarEventResponse" message="tns:IEsk365Service_CreateCalendarEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCalendarEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEsk365Service/DeleteCalendarEvent" message="tns:IEsk365Service_DeleteCalendarEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEsk365Service/DeleteCalendarEventResponse" message="tns:IEsk365Service_DeleteCalendarEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEsk365Service" type="tns:IEsk365Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCalendarEvent">
      <soap:operation soapAction="http://tempuri.org/IEsk365Service/CreateCalendarEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCalendarEvent">
      <soap:operation soapAction="http://tempuri.org/IEsk365Service/DeleteCalendarEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Esk365Service">
    <wsdl:port name="BasicHttpBinding_IEsk365Service" binding="tns:BasicHttpBinding_IEsk365Service">
      <soap:address location="http://spbadm4:8085/ESK365Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>